<style>
    .bs-flex{
        display: flex;
        margin: 1rem;
    }
    .bs-services-hero{
        background: linear-gradient(#c233d4, #3b90e0);;
        color: #283593;
    }
    .bs-btn{
        color: #fff;
        background-color: #283593;
        padding: 0.5rem;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
    }
    .bs-btn:hover{
        background: #283573;
        padding: 0 0.5rem;
    }
    .bs-flex p:hover{
        font-size: larger;
        transition: all 500ms ease;
        color: #fff;
        background: #283593;
        margin-left: 5px;
        border-radius: 5px;

    }
</style>


<div class="bs-services-hero">

    <section id="services"> 
        <div class="container border">
        <div class="text-center py-3" style="background: lightgray;">
            <h4 class="section-heading text-uppercase">WHAT WE DO</h4>
        </div>
    
        <!-- first row -->
        <div class="row">
            <div class="col-md-6">
                <div class="bs-flex">
                    <span class="bs-btn">&#10003;</span>
                    <p class="pl-3">
                        Wave-line Aqua Sports teaches swimming as a life gift to children and adults for safety, excellence and fun.
                        <br><br>
                        We also do swimming pool renovation, construction,  maintenance, pool chemicals and equipments supply.
                        <br><br>
                        Swimming gears, and equipment supply
                    </p>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="bs-flex">
                    <span class="bs-btn">&#10003;</span>
                    <p class="pl-3">
                        Our Partner Coaches are carefully chosen child-friendly teachers.
                        <br><br>
                        Furthermore, our Coaches are up to date with the current method of swimming teaching, for excellent service to the pupils we teach and our client that gives us the opportunity to serve them.
                        <br>
                        Level-Board-Proffesionalism
                    </p>
                </div>
            </div>
    
        </div>
        <!-- end first row -->
    
            <!-- second row -->
        <details>
            <summary>View More</summary>
              <div class="row">
            <div class="col-md-6">
                <div class="bs-flex">
                    <span class="bs-btn">&#10003;</span>
                    <p class="pl-3">
                        Level-Board-Programme
                        <br><br>
                        We run an individual swimmer ability and needs oriented programme. 
                        <br><br>
                        Our curricula is a synthesis of America &  Australian curricula, to ensure international standard content in teaching swimming.
                        We are thorough in the use of standard teaching methodology for quality delivery to the pupils.
                    </p>
                </div>
            </div>
    
            <div class="col-md-6">
                <div class="bs-flex">
                    <span class="bs-btn">&#10003;</span>
                    <p class="pl-3">
                        We use Wave-line Aqua Sports methods of Teaching Swimming (W.A.S.M.O.T.S), a blend of America & Australia teaching content that applies in our locality, a proven methodology  that helps to simplify world class techniques and makes assimilation easy.
                        <br><br>
                        This is why every child in the school achieves world class swimming skills.
                        <br><br>
                        It explains why every child on our programme becomes a swimmer in a given time.
                        <br>
                        Level-Board-impecable-Delivery
                    </p>
                </div>
            </div>
    
        </div>
        <!-- end second row -->
    
        <!-- third row -->
        <div class="row">
            <div class="col-md-6">
                <div class="bs-flex">
                    <span class="bs-btn">&#10003;</span>
                    <p class="pl-3">
                        Level-Board-swimming--facility
                        <br>
                        Our training centres are carefully chosen, state-of-the-art swimming pools.
                        <br>
                        They are well treated,  crystal clear water pools.
                        <br>
                        This is for schools and individuals that are yet to  have their own swimming pool facility.
                        <br>
                        Children’s safety is our number one priority.
                    </p>
                </div>
            </div>
    
            <div class="col-md-6">
                <div class="bs-flex">
                    <span class="bs-btn">&#10003;</span>
                    <p class="pl-3">
                        Besides, we have revised our safety policies to accommodate the latest trends in safety and security issues in the country
                        <br><br>
                        To further guarantee safety, our teachers have lifeguard knowledge and experience.
                        Level-Board-safety
                    </p>
                </div>
            </div>
    
        </div>
        <!-- end third row -->
        </details>
    
        
        </div>
    </section>

</div>

