{% load static %}
<head>
    <link href="{% static 'my_style/team.css' %}" rel="stylesheet" />
</head>

<div class="bs-team-hero" id="team">

    <div class="container-fluid px-2">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
                <div class="p-5 border-0 text-center">
                    <h5 class="font-weight-bold mb-4">Our Amazing Team</h5>
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="4000">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row p-5">
                                    <div class="col-md-6 text-center">
                                        <img src="{% static 'packages/assets/img/team/2.jpg' %}" class="img-fluid bs-team-img"> 
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <h5 class="mb-0 mt-2">Elvis Ovuakporaye. A</h5> 
                                        <small>Founder</small>
                                        <p>Elvis has over 6years of teaching and coaching swimmers of all ages and ability. 
                                        While Elvis enjoy working with all swimmers, he specializes in teaching aqua phobic swimmers. 

                                        Swimming teaching is a life gift for safety, excellence and fun</p>
                                        <ul>
                                            <li>Favourite stroke:  Breaststroke</li>
                                            <li>Favourite color : Blue </li>
                                        </ul>
                                        <p class="text-warning">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row p-5">
                                    <div class="col-md-6 text-center">
                                        <img src="{% static 'packages/assets/img/team/3.jpg' %}" class="img-fluid bs-team-img"> 
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <h5 class="mb-0 mt-2">Peter Ebu Oko</h5> 
                                        <small>Swimming Coach ( Partner & Senior Coach)</small>
                                        <ul>
                                            <li>Favourite stroke: Front Crawl</li>
                                        </ul>
                                        <p class="text-warning">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row p-5">
                                    <div class="col-md-6 text-center">
                                        <img src="{% static 'packages/assets/img/team/1.jpg' %}" class="img-fluid bs-team-img"> 
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <h5 class="mb-0 mt-2">Emmanuel Ogunbanjo</h5> 
                                        <small>Swimming & Aqua Aerobic Coach</small>
                                        <p>Teaching Swimming to children and Adults</p>
                                        <ul>
                                            <li>Favourite stroke: Front Crawl</li>
                                        </ul>
                                        <p class="text-warning">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

</div>
