asgiref==3.3.1
bandit==1.7.0
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
dj-database-url==0.5.0
Django==3.1.7
django-ckeditor==6.0.0
django-crispy-forms==1.11.2
django-heroku==0.3.1
django-js-asset==1.2.2
django-storages==1.11.1
gitdb==4.0.6
GitPython==3.1.14
gunicorn==20.0.4
idna==2.10
pbr==5.5.1
Pillow==8.1.2
psycopg2==2.8.6
python-decouple==3.4
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
six==1.15.0
smmap==3.0.5
sqlparse==0.4.1
stevedore==3.3.0
urllib3==1.26.4
whitenoise==5.2.0
