{% extends 'base.html' %} {% load static %} 

{% block content %}
<title>{% block title %}{% endblock title %}</title>

{% include 'navbar.html' %}

<header class="pt-5 bs-index-header">
  {% include 'fragments/carousel_header.html' %}

  <h1>Welcome to Wave-line Aqua Sports</h1>
  <p>We are so delighted to see that you have taken the first step in learning to swim. This brings us great joy!!!</p>
  <a href="https://forms.gle/EgHWYeSX7iqsunJ77" target="_blank" class="btn btn-primary btn text-uppercase">sign up for swim class</a>
</header>

{% include 'fragments/services.html' %}

{% include 'fragments/classes.html' %}

{% include 'fragments/testimony.html' %}

<!-- Team-->
{% include 'fragments/team.html' %}

{% include 'fragments/contact.html' %}

{% include 'fragments/site_map.html' %}

{% include 'footer.html' %}

<script>
  const myDate = new Date();
  document.querySelector('.bs-getCurrentDate').innerHTML = myDate.getFullYear();
</script>
{% endblock content %}
