.bs-team-hero {
    background: linear-gradient(#c233d4, #3b90e0);
    max-height: 50hv !important;
}
.bs-team-img {
    display: inline-block;
    width: 100%;
    height: 350px !important;
    border-radius: 5px;
}