{% load static %}
<style>
  :root{
    --primary-blue: #283593;
    --primary-white: #fff;
  }

  .navbar-default {
    background-color: var(--primary-white) !important;
    color: var(--primary-blue) !important;
  }
  .navbar-pad {
    padding: 30px 0 !important;
  }
</style>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-default fixed-top p-1" id="mainNav" style="margin-top: 5px;">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/"><img src="{% static 'packages/assets/img/logos/logo.jpg' %}"
            id="bs-logo-shape"
                alt="" /></a>
        <button class="navbar-toggler navbar-toggler-right bg-light" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" 
            aria-controls="navbarResponsive" 
            aria-expanded="false"
            aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ml-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'sport:about' %}">About</a>
                </li>
                <li class="nav-item"><a class="nav-link {% if request.path == '/blog/' %} active {% endif %}" href="{% url 'blog:post-list' %}">Blog</a>
                </li>
                <li class="nav-item"><a class="nav-link {% if request.path == '/programs/' %} active {% endif %}" href="{% url 'sport:programs' %}">Our Programs</a>
                </li>

                <!--For registration -->
                {% if not user.is_authenticated %}
                <div class="d-flex">
                <a href="{% url 'accounts:login' %}" class="btn btn-primary btn-sm float-right mr-2" style="font-size: 14px">
                <span data-toggle="modal" data-target="#exampleModalLogin">
                    Login
                </span>
                </a> 
                <a href="{% url 'accounts:signup' %}" class="btn btn-primary btn-sm float-right" style="font-size: 14px">
                <span data-toggle="modal" data-target="#exampleModalSignup">
                    Signup
                </span>
                </a>
                </div>
                {% else %}
                <a href="{% url 'accounts:logout' %}" class="btn btn-primary btn-sm float-right" style="font-size: 14px">
                    Logout
                </a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>